{% extends "QQiRecordappBundle::layout.html.twig" %}

{% block title %}Acerca de{% endblock %} 

{% block body %}

	<!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      	<h2>Acerca de</h2>
    </div>

    <div class="row">

    	<div class="span4">
          
        </div>

        <div class="span8">
          <h2>HorariosApp</h2>

            <p>Este sistema es de utilidad para la administracion de <strong>#horarios </strong> de las diferentes escuelas que conforman
            la Facultad de Ingeniería y Arquitectura de la Universidad de El Salvador.</p>

            <p>Brinda admistracion completa de entidades
            relacionadas como lo son asignaturas, ciclos, aulas, etc, ademas de mostrar reportes en formato PDF y XLS de
            los horarios que se han aprobado.</p>
        </div>
    </div><!--/row-->

{% endblock %}
