{% extends "QQiRecordappBundle::layout.html.twig" %}

{% block title %}Contacto{% endblock %} 

{% block body %}

	<!-- Main hero unit for a primary marketing message or call to action -->
    <div class="hero-unit">
      	<h2>Contacto</h2>
    </div>

    <div class="row">

    	<div class="span4">
        <h2>HorariosApp</h2>
      </div>

      <div class="span8">
        	<p>Tarea BAD Grupo Trece - asignaturas@ues.edu.sv</p>
      </div>
    </div><!--/row-->

{% endblock %}
