{% extends 'QQiRecordappBundle::layout.html.twig' %}

{% block title %}Nuevo Facultad {% endblock %}

{% block body %}

<div class="container">
  <form action="{{ path('facultad_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <input class="btn btn-success btn-sm" type="submit" value="Crear">
    </p>
 </form>
 <div class="row">
        <a class="btn btn-primary btn-sm" href="{{ path('facultad') }}">
            Regresar a listado
        </a>
 </div>
</div>


{% endblock %}
